[Unit]
Description=CSYE 6225 webapp service
ConditionPathExists=/home/admin/madhura_kurhadkar_002769373_06_app
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/madhura_kurhadkar_002769373_06_app/
ExecStart=/usr/bin/node /opt/csye6225/madhura_kurhadkar_002769373_06_app/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target