[Unit]
Description=CSYE 6225 webapp service
ConditionPathExists=/home/admin/madhura_kurhadkar_002769373_05_app
After=network.target

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin/madhura_kurhadkar_002769373_05_app
ExecStart=/usr/bin/node /home/admin/madhura_kurhadkar_002769373_05_app/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target